table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
}

thead {
  background-color: #282929;
  color: white;
}

th {
  text-align: center;
  padding: 1.5rem;
}

td {
  text-align: center;
  padding: 1rem;
}

tr:hover {
  background-color: #818180;
}

tr {
  background-color: #4c4d4d;
  color: white
}
